.enroll-root {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  gap: 16px;
}

.enroll-left {
  flex: 2;
  height: 100%;
  box-sizing: border-box;
}

.enroll-right {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.enroll-details-body {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 1.6;
}

